.product-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 327px;
}

.product-image-and-button {
  position: relative;
  margin-bottom: 22px;
}

.product-image {
  width: 100%;
  border-radius: 8px;
}

.product-image.is-selected {
  border: 2px solid #c73b0f;
}

.product-category {
  font-size: 14px;
  color: #87635a;
}

.product-name {
  font-size: 16px;
  font-weight: 600;
  color: #260f08;
}

.product-price {
  font-size: 16px;
  font-weight: 600;
  color: #c73b0f;
}

@media (min-width: 768px) {
  .product-card {
    width: 213px;
  }
}
