.product-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 327px;
}

.product-image-and-button {
  position: relative;
  margin-bottom: 22px;
}

.product-image {
  width: 100%;
  border-radius: 8px;
}

.product-category {
  font-size: 14px;
  color: #87635a;
}
